<style>
  .list {
    width: 200px;
  }
</style>
<div class="container-fluid">
  <h1>Testing stuff related to AngularJS</h1>
  <div class="panel panel-success">
    <div class="panel-heading">
      <h1 ng-if="name">Hello, {{name}}</h1>
    </div>
    <div class="panel-body">
      <form class="form-inline">
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Enter your name" autofocus ng-model="name">
        </div>
      </form>
    </div>
  </div>
  <div ng-controller="usersList">
    <h2>List of users using ng-repeat:</h2>
    <ul class="list-group, list">
      <li class="list-group-item" ng-repeat="user in users">{{user.email}}</li>
    </ul>
  </div>
  <div ng-controller="categoriesList">
    <h2>List of categories using ng-repeat:</h2>
    <ul class="list-group, list">
      <li class="list-group-item" ng-repeat="category in categories">{{category.name}}</li>
    </ul>
  </div>
  <div ng-controller="productsList">
  <h2>List of products using ng-repeat:</h2>
    <ul class="list-group, list">
      <li class="list-group-item" ng-repeat="product in products">{{product.name}}</li>
    </ul>
  </div>  
</div>
