<div class="container-fluid" ng-controller="usersList">
  <h1>{{app}}</h1>
  <div class="panel panel-success">
    <div class="panel-heading">
      <h1 ng-if="name">Hello, {{name}}</h1>
    </div>
    <div class="panel-body">
      <form class="form-inline">
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Enter your name" autofocus ng-model="name">
        </div>
      </form>
    </div>
  </div>
  <div>
    <p>The $http.get request is working and this is the data from the JSON file: </p>
    <p>{{users}}</p>
    <p>This is the first user: {{firstUser}}</p>
    <p>List of users using ng-repeat</p>
    <ul>
      <li ng-repeat="user in users">{{user.email}}</li>
    </ul>
  </div>
</div>
